
.Transactions{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.heading{
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
}


@media screen and (min-width: 780px) {
   
}