body {
  margin: 0;
  font-family: Ubuntu;
  background-color: #3b3b3b;
  color: white;
  padding: 0px 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
